//! **************************************************************************
// Written by: Map K.31 on Wed Mar 09 15:23:13 2011
//! **************************************************************************

SCHEMATIC START;
COMP "LED" LOCATE = SITE "F12" LEVEL 1;
COMP "CCLK" LOCATE = SITE "C9" LEVEL 1;
COMP "BTN2" LOCATE = SITE "K17" LEVEL 1;
COMP "BTN3" LOCATE = SITE "D18" LEVEL 1;
COMP "LCDE" LOCATE = SITE "M18" LEVEL 1;
COMP "LCDRS" LOCATE = SITE "L18" LEVEL 1;
COMP "LCDRW" LOCATE = SITE "L17" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "LCDDAT<0>" LOCATE = SITE "R15" LEVEL 1;
COMP "LCDDAT<1>" LOCATE = SITE "R16" LEVEL 1;
COMP "LCDDAT<2>" LOCATE = SITE "P17" LEVEL 1;
COMP "LCDDAT<3>" LOCATE = SITE "M15" LEVEL 1;
NET "CCLK_BUFGP/IBUFG" BEL "CCLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "CCLK_BUFGP/IBUFG" PERIOD = 20 ns HIGH 40%;
SCHEMATIC END;

